<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\NOVEL.API\packages.config" />
  <repository path="..\src\NOVEL.Data\packages.config" />
  <repository path="..\src\NOVEL.Model\packages.config" />
  <repository path="..\src\NOVEL.Service\packages.config" />
</repositories>